.header-top{
    background-color: black;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.btn{
    border-radius: 30px;
}
.btn-login{
    background-color: black;
    color: white;
}
.sony-logo{
    height: 30px;
}
.btn-buy{
    background-color: red;
    color: white;
}
.btn-informazioni{
    background-color: blue;
    color: white;
}

/* .jumbo{
    
    height: 100%; 

} */
#jumbotron {
    height: calc(80vh - 96px);  
    background-size: cover;
    background-image: url(../img/jumbo-bg.png);
    background-position: center;

}
.misure{
    padding: 18rem 0 5rem;
}
.measures{
    padding: 15rem 0 5rem
}
.immagini{
    width: 100%;
    
 }  
 .hero {
    height: 50px;
}
.giochi{
    width: 100%;
    border-radius: 10px;
}
.ps5{
    width: 50%;
}
.my-bc-color{
    background-color: rgb(58, 54, 54);
}
#banner{
    height: 100vh;
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position: center;
}
.img-avventura{
    width: 60%;
    
}