.header-top{
    background-color: black;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.btn{
    border-radius: 30px;
}
.btn-login{
    background-color: black;
    color: white;
}
.sony-logo{
    height: 30px;
}
.sony-logo-2{
    height: 100px;
}
.btn-buy{
    background-color: red;
    color: white;
}
.btn-informazioni{
    background-color: blue;
    color: white;
}
.svg{
    filter: contrast(15%) brightness(300%);

}
.btn-esplora{
    background-color: rgb(180, 175, 175);
    color: blue;
}
.btn-now{
    background-color: white;
    color:black;
}

/* .jumbo{
    
    height: 100%; 

} */
#jumbotron {
    
    background-size: cover;
    background-image: url(../img/jumbo-bg.png);
    background-position: center;

}
.misure{
    padding: 18rem 0 5rem;
}
.measures{
    padding: 15rem 0 5rem
}
.dimensioni{
    padding: 15rem  5rem
}
.opacity-75:hover{
cursor: pointer;
opacity: (1);
border-bottom: 2px solid blue;
transform:scale3d(1.1, 1.1,0.1);
}

 .hero {
    width: 200px;
}
.giochi{
    width: 80%;
    border-radius: 10px;
}
.ps5{
    width: 50%;
}

 .card:hover{
    transform:scale3d(1.1, 1.1,0.1);
    cursor: pointer;
    border: 2px solid blue;
} 


.my-bc-color{
    background-color: rgb(58, 54, 54);
}
.my-bc-color-2{
    background-color: grey;
}
.my-bc-color-3{
    background-color: rgb(3, 13, 66);
}
.my-bc-color-4{
    background-color: rgba(1, 58, 245, 0.664);
    
}
.liste{
    list-style-type: none;
}
#banner{
   
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position: center;
}
.img-avventura{
    width: 60%;
    
}
